/* color corporativo laboratoria #F9A91A*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}
/*Imagen de Laboratoria Header (Cuidado de poner signos sin comentarios porque altera el css)*/
.Laboimg {
  width: 189px;
  height: 65px;
  margin-left: 567px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Menú Horizontal*/
.verticalM, .menuH {
  display: inline-block;
}
.verticalM {
  padding: 1px;
  float: left;
}
.menuH {
  width: 1133px;
  background-color: #E6E6E6;
  position: relative;
}
.stgo, .fa-sign-in {
  font-size: 30px;
  display: inline-block;
}
.stgo {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.fa-sign-in {
  cursor: pointer;
}
/*.sedes {
  position: relative;
  display: none;
}
.stgo:hover > .sedes {
  visibility: visible;
  display: block;
}*/
.lista1 {
  list-style: none;
  padding-bottom: 30px;
  margin-left: 10px;
  display: flex;
}
.botones {
  font-weight: bold;
  color: black;
  margin-left: 90px;
  text-decoration: none;
}
.botones:hover {
  color: #F9A91A;
}
/*Menú Vertical*/
.verticalM {
  background-color: #F9A91A;
}
.saludo {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 9px;
}
.Valentina {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 27px;
}
.Nombre {
  font-weight: lighter;
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 10px;
}
.perfil {
  font-weight: 300;
  display: inline;
  margin-left: 27px;
}
.lista2 {
  list-style: none;
  margin-top: 20px;
  position: relative;
}
.dash {
  border-top: 1px solid #F9A91A;
}
.dash, .estudiante, .unidad, .Mensajes, .Cerrar {
  background-color: #E6E6E6;
  color: black;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #F9A91A;
  border-right: none;
  display: block;
}
.dash:hover {
  background-color: white;
}
.estudiante:hover {
  background-color: white;
}
.unidad:hover {
  background-color: white;
}
.Mensajes:hover {
  background-color: white;
}
.Cerrar:hover {
  background-color: white;
}
.Mensajes::after {
  content: "\f003";
  color: #A4A4A4;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
.Cerrar::after {
  content: "\f011";
  color: #A4A4A4;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
/*Submenús*/
.lista2 li a {
	text-decoration: none;
	display: block;
}
.lista2 li ul {
	display: none;
	position: absolute;
	min-width: 140px;
  border: 1px solid #F9A91A;
}
.lista2 li:hover > ul {
	display: block;
}
.lista2 li ul li {
  padding-left: 100px;
  margin-top: 0px;
	position: relative;
}
.estudiante::after {
  content: '\f105';
  color: #A4A4A4;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
.unidad::after{
  content: '\f105';
  color: #A4A4A4;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
.submenu1, .submenu2 {
  list-style: none;
  background-color: #E6E6E6;
  color: black;
  font-size: 20px;
  font-weight: 200;
  display: none;
  /*visibility: hidden;*/
}
.agregar1, .eliminar1, .agregar2, .eliminar2 {
  background-color: #E6E6E6;
  color: black;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #F9A91A;
  border-right: none;
  display: block;
}
/*.lista2 li:hover .submenu1 {
  visibility: visible;
}
.lista2 li:hover .submenu2 {
  visibility: visible;
}*/
.agregar1:hover {
  background-color: #A4A4A4;
}
.eliminar1:hover {
  background-color: #A4A4A4;
}
.agregar2:hover {
  background-color: #A4A4A4;
}
.eliminar2:hover {
  background-color: #A4A4A4;
}

/* -------------------- Acá van los gráficos -------------------- */
#data_dashboard{
  margin-top: 20px;
  margin-left: 265px;
}
/* -------------------- enrollment gráfico -------------------- */
#enrollment{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
}
.caja1{
	width:140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.caja2{
	width: 100px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 10px;
	vertical-align: bottom;
}
#enrollment_grafico{
	width: 298px;
	height: 210px;
	margin-bottom: 100px;
}

/* -------------------- achievement gráfico -------------------- */
#achievement{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
}
.caja3{
	width:140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.caja4{
	width: 100px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 10px;
	vertical-align: bottom;
}

/* -------------------- net promoter score gráfico --------------------*/
#net_promoter_score{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
}
.caja5{
	width:140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.caja6{
	width: 100px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	padding-top: 10px;
	background-color: #F2F2F2;
	margin-left: 10px;
	vertical-align: bottom;
}

/* -------------------- tech skills caja contenedora --------------------*/
#tech_skills{
	width: 908px;
	height: 950px;
	border: 1px solid #F9A91A;
  margin-top: 10px;
  margin-bottom: 10px;
	display: inline-block;
}
/* cuadro desplegable*/
#contenedorTechSkills{
	width: 300px;
	height: 500px;
	border: 1px solid #F9A91A;
	display: none;
}
.caja7{
	width:140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.caja8{
	width: 140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	padding-top: 10px;
	background-color: #F2F2F2;
	margin-left: 10px;
	vertical-align: bottom;
}
/* -------------------- PRIMER GRAFICO TECH SKILL -------------------- */
#tech_skills_grafico1{
	width: 900px;
	height: 500px;
	border: 1px solid #F9A91A;
  	margin-bottom: 10px;
	display: inline-block;
}
/* -------------------- SEGUNDO GRAFICO TECH SKILL -------------------- */
#tech_skills_grafico2{
	width: 600px;
	height: 250px;
	border: 1px solid #F9A91A;
  	margin-bottom: 10px;
	display: inline-block;
}

/* -------------------- Life skills caja contenedora -------------------- */
#life_skills{
	width: 908px;
	height: 850px;
	border: 1px solid #F9A91A;
  	margin-bottom: 10px;
	display: inline-block;
}
/* cuadro desplegable*/
#contenedorLifeSkills{
	width: 300px;
	height: 500px;
	border: 1px solid #F9A91A;
	display: none;
}
.caja9{
	width:140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.caja10{
	width: 140px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	padding-top: 10px;
	background-color: #F2F2F2;
	margin-left: 10px;
	vertical-align: bottom;
}
/* -------------------- PRIMER GRAFICO LIFE SKILL -------------------- */
#life_skills_grafico1{
	width: 900px;
	height: 400px;
	border: 1px solid #F9A91A;
  	margin-bottom: 10px;
	display: inline-block;
}
/* -------------------- SEGUNDO GRAFICO LIFE SKILL -------------------- */
#life_skills_grafico2{
	width: 600px;
	height: 250px;
	border: 1px solid #F9A91A;
  margin-bottom: 10px;
	display: inline-block;
}
/* -------------------- Gráfico STUDENT-SATISFACTION -------------------- */
#student_satisfaction{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
}
.caja11{
	width:180px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
#student_satisfaction_grafico{
	width: 285px;
	height: 200px;
}

/* -------------------- Gráfico TEACHER-RATING -------------------- */
#teacher_rating{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
}
.caja12{
	width:150px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}

#teacher_rating_grafico{
	width: 285px;
	height: 200px;
}


/* -------------------- Gráfico JEDI-RATING -------------------- */
#jedi_master_rating{
	width: 300px;
	height: 350px;
	border: 1px solid #F9A91A;
	display: inline-block;
	margin-bottom: 50px;

}
.caja13{
	width:150px;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	background-color: #F2F2F2;
	margin-left: 25px;
}
.titulo_caja{
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	color: #F9A91A;
}
.parrafo_caja{
	font-size: 10px;
	padding-bottom: 5px;
}
.fa-caret-up{
	padding-left: 3px;

}
#grafico_jedi_master{
	width: 285px;
	height: 200px;
}

/* -------------------- titulos de gráficos -------------------- */
.titulo_grafico{
	font-size: 16px;
	padding-top: 20px;
	padding-left: 25px;
	font-weight: bold;
}

/* -------------------- Página HTML Estudiantes -------------------- */
.verticalM, .cuadrotext {
  display: inline-block;
}
.checkbox {
  width: 300px;
  border: 1px solid black;
  padding: 30px;
  margin-top: 20px;
  margin-left: 400px;
}
.especializacion {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}
.Images {
  margin-left: 316px;
}
.busc {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #F9A91A;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 148px;
  outline-color: #F9A91A;
}
.fa-search {
  font-size: 20px;
  color: #F9A91A;
  cursor: pointer;
}

/* -------------------- cuadro alumnas -------------------- */
.anonymous, .verticalM {
  display: inline-block;
}
#cuadro_alumnas{
	width: 700px;
	height: 200px;
	margin-left: 210px;
	margin-bottom: 30px;
	border: 1px solid #F9A91A;
}

#titulo_alumnas{
	padding-top: 25px;
	margin-left: 151px;
  margin-bottom: 25px;
	display: inline-block;
}
.especialidad {
  background-color: #F9A91A;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  float: right;

}
#foto_perfil_falsa, .especialidad {
  display: inline-block;
}
#foto_perfil_falsa{
	float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
}
h6 {
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: table-cell;
}
.parte1 {
  margin-left: 15px;
}
